html, body {
	width: 100%;
	max-width: 100%;
	margin: 0;
}

#root {
	max-width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	overflow: auto;
}

body {
	max-width: 100%;
	overflow: hidden;
	
	.p-button {
		border-radius: 0 !important;
	}
	
	.container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto 1fr;
		width: 100%;
		height: 100vh;
		
		.header {
			grid-column: span 12;
		}
		
		.stripMenu {
			grid-column: span 1;
			padding: 10px;
			//background: #333333;
			background: linear-gradient(to right,#200b2d 0%, #2d0f41 100%);
			
			.p-button {
				min-width: 100%;
				margin-bottom: 5px;
			}
		}
		
		.main {
			grid-column: span 7;
			background: #F4F4F4;
		}
		
		.context {
			grid-column: span 4;
			//border-left: 1px solid #333333;
			border-left: 1px solid #C8C8C8;
			//background: #465159;
			background: #F4F4F4;
			padding: 10px;
			
			.p-card {
				position: fixed;
				width: 30.5vw;
				
				.number-detail {
					font-size: 15px;
					font-weight: 100;
					line-height: 1.25rem;
					margin-top: 1em;
					margin-bottom: 0;
					
					strong {
						font-weight: 900;
					}
				}
				
				table.p-card-table, th, td {
					border: none;
				}
				
				table.p-card-table {
					margin-top: 1em;
					width: 100%;
					border-collapse: collapse;
					
					tr {
						background: #F3A8A1;
					}
					
					tr:first-child td {
						padding: 6px 6px 0 6px;
					}
					
					td {
						border-spacing: 0;
						padding: 6px;
					}
					
					td.right {
						text-align: right;
						font-weight: 100;
						background: #F9F9F9;
					}
					td.center {
						padding-left: 0.5em;
						background: #fdf1e7;
					}
				}
			}
		}
	}

	.p-menubar {
		border-top: none;
		border-right: none;
		border-left: none;
		border-radius: 0;
	}
	
	.p-datatable {
		border-radius: 0 !important;
		
		.p-paginator,
		.p-datatable-header,
		th:first-child,
		td:first-child,
		th:last-child,
		td:last-child {
			border-right: none !important;
			border-left: none !important;
		}
		
		.p-datatable-header {
			border-top: none;
		}
		
		.p-button-text, td {
			font-size: 13px;
			line-height: 15px;
		}
		
		.pi-search {
			margin: 4px 10px 0px 0px !important;
		}
		
		.p-dropdown {
			margin-top: 4px;
		}
	
		.p-datatable-header {
			border-radius: 0 !important;
		}
		
		.p-datatable-thead {
			
			th span, .p-dropdown-label {
				font-weight: 200;
				font-size: 11.5px;
			}
			
			.p-column-title {
				display: inline-block;
				line-height: 13px;
			}
			
			.p-sortable-column-icon {
				display: block;
				clear: both;
				text-align: center;
				margin-top: 3px;
				width: 100%;
			}
		}
	}
	
	.mapPlaceholder {
		max-width: 100%;
		position: relative;
		
		img {
			position: absolute;
			max-width: 100%;
		}
		
		.caption {
			position: absolute;
			top: 0;
			right: 0;
			padding: 3px 6px 4px 12px;
			background: #333333;
			color: #ffffff;
			font-family: "Open Sans", "Helvetica Neue", sans-serif;
			font-size: 14px;
		}
	}
	
}